# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environment / secrets
.env
.env.*
!.env.example

# Data files
data/*
!data/.gitkeep

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Spark
spark-warehouse/
metastore_db/

# Airflow
airflow/logs/
airflow/__pycache__/

# Jupyter
.ipynb_checkpoints/
